<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>component</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.6/vue.min.js"></script>
	<style>
		.active {
			color: red;
		}
	</style>
</head>

<body>
	<div id="app">
		<div v-for="item in items">
			<toggle-list-item :item="item"></toggle-list-item>
		</div>
		<div v-for="item in color" >
			<test name="Color" :item="item"></test>
		</div>
	</div>

</body>
<template id="list-item">
	<div>
		<div>
			{{item.text}}
		</div>

		<button @click="toggle()">show</button>

		<div v-show="isActive" class="item-desc">
			{{item.desc}}
		</div>

	</div>
</template>
<template id="test">
	<ul>
		<li @click="liClick()" :class="{active:isActive}">{{name}} -- {{item.name}}</li>
		<li @click="liClick()" :class="{active:isActive}">{{name}} -- {{item.code}}</li>
	</ul>
</template>
<script>
	Vue.component('toggle-list-item', {
		template: '#list-item',
		props: ['item'],
		methods: {
			toggle() {
				this.isActive = !this.isActive;
			}
		},
		data() {
			return {
				isActive: false
			}
		},
	})
	Vue.component('test', {
		template: '#test',
		props: ['name', 'list', 'item'],
		data() {
			return {
				isActive: false
			}
		},
		methods: {
			liClick: function () {
				this.isActive = !this.isActive
			}
		}
	})

	var app = new Vue({
		el: "#app",
		data: {
			message: "TW",
			color: [{
					name: 'blue',code:'#999'
				},
				{
					name: 'red',code:'#333'
				},
				{
					name: 'green',code:'#444'
				},
			],
			animal: [{
					name: 'dog'
				},
				{
					name: 'cat'
				},
				{
					name: 'pig'
				},
			],
			items: [{
				text: 'foo',
				desc: 'foo desc'
			}, {
				text: 'bar',
				desc: 'bar desc'
			}, {
				text: 'baz',
				desc: 'baz desc'
			}]
		}
	})
</script>

</html>