<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>component</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.min.js"></script>
	<style>
		.fade-enter-active, .fade-leave-active {
	transition: opacity .5s
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active 在低于版本 2.1.8 中 */ {
	opacity: 0
  }
	</style>
</head>

<body>
	<div id="app">
		<div class="form-group">
			<input type="radio" name="drive" id="bus" value="bus" v-model="currentView">
			<label for="bus">Bus</label>
		</div>
		<div class="form-group">
			<input type="radio" name="drive" id="bike" value="bike" v-model="currentView">
			<label for="bike">Bike</label>
		</div>
		<div class="form-group">
			<input type="radio" name="drive" id="car" value="car" v-model="currentView">
			<label for="car">Car</label>
		</div>
		<transition name="fade">
			<mycomponent :is="currentView"></mycomponent>
		</transition>
	</div>
</body>
<script>
	//创建根实例
	new Vue({ 
		el: "#app", 
		data: { 
			currentView: 'bus' 
		},
		components:{
			bus:{template:'<div>I use Bus</div>'},
			bike:{template:'<div>I use Bike</div>'},
			car:{template:'<div>I use Car</div>'},
		}
	});


</script>

</html>