.header{
    height: 150px;
    padding-top: 20px;
    box-sizing: border-box;
    // 頂部通蘭
    .top-wrapper{
        position: relative;
        .back-wrapper{
            width: 50px;
            height: 31px;
            position: absolute;
            left: 0;
            top: 0;
            text-align: center;
            line-height: 31px;
            span{
                display: inline-block;
                color:#fff;
            }
        }
        .search-wrapper{
            width: 100%;
            height: 31px;
            padding: 0 104px 0 50px;
            box-sizing: border-box;
            .search-icon{
                width: 28px;
                height: 31px;
                background: url('./titans_h5_search@2x.png') no-repeat 11px center;
                background-size: 13px 13px;
                position: absolute;
            }
            .search-bar{
                width: 100%;
                height: 31px;
                border: 0;
                box-sizing: border-box;
                background: #cdcdcd;
                border-radius: 25px;
                padding-left: 28px;
                outline: none;
            }
        }
        .more-wrapper{
            width: 65px;
            height: 24px;
            position: absolute;
            right: 0;
            top: 0;
            padding: 7px 15px 0 24px;
            .spelling-bt{
                width: 30px;
                height: 17px;
                color: #fff;
                line-height: 17px;
                border: 1px solid #fff;
                text-align: center;
                float: left;
                text-decoration: none;
                font-size: 10px;
            }
            .more-bt{
                float: right;
                width: 20px;
                height: 24px; 
                margin-left: 13px;
                margin-top: 6px;
                .s-radius{
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    border:1px solid #fff;
                    display: inline-block;
                    float: left;
                    margin-right: 1px;
                }
            }
        }
    }
    .content-wrapper{
        padding: 17px 10px 11px;
        height: 50px;
        .icon{
            width: 50px;
            height: 50px;
            background-size: 135% 100%;
            background-position: center center;
            border-radius: 5px;
            float: left;
        }
        .name{
            float: left;
            padding: 18px 0 0 12px;
            h3{
                font-size: 16px;
                font-weight: bold;
                color:#fff;
            }
        }
        .collect{
            width: 25px;
            height: 37px;
            float: right;
            text-align: center;
            padding-top: 6px;
            img{
                width: 20px;
                height: 20px;
            }
            span{
                margin-top: 7px;
                color:#fff;
                font-size: 11px;
            }
        }
    }
    .bg-wrapper{
        width: 100%;
        height: 150px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-size: 100% 135%;
        background-position: center -12px;
    }
    .bulletin-wrapper{
        height: 16px;
        padding: 0 10px;
        .icon{
            width: 16px;
            height: 16px;
            float: left;
            margin-right: 6px;
        }
        .text{
            font-size: 11px;
            color:#fff;
            float: left;
            line-height: 16px;
        }
        .detail{
            color:#fff;
            float: right;
            font-size: 11px;
            line-height: 16px;
        }
        span{
            font-size: 16px;
            line-height: 16px;
            float: right;
        }
    }
    .bulletin-detail{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(98,98,98,.8);
        z-index: 1;
        .detail-wrapper{
            width: 100%;
            height: 100%;
            padding: 43px 20px 125px;
            box-sizing: border-box;
            .main-wrapper{
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                border-radius: 10px;
                text-align: center;
                .icon{
                    width: 60px;
                    height: 60px;
                    background-size: 135% 100%;
                    background-position: center;
                    border-radius: 5px;
                    display: inline-block;
                    margin-top: 40px;
                }
                .name{
                    font-size: 13px;
                    color:#fff;
                    margin-top: 13px;
                }
                .score{
                    height: 10px;
                    margin-top: 6px;
                    text-align: center;
                    .star{
                        display: inline-block;
                        margin-right: 7px;
                    }
                    span{
                        display: inline-block;
                        color:#fff;
                        font-size: 10px;
                    }
                }
                .tip{
                    font-size: 11px;
                    color:#bababc;
                    margin-top: 8px;
                    i{
                        margin:0 7px;
                    }
                }
                .time{
                    font-size: 11px;
                    color:#bababc;
                    margin-top: 13px;
                }
                .discounts{
                    margin-top: 20px;
                    padding: 0 20px;
                    p{
                        padding-top: 20px;
                        border-top:1px solid #bababc;
                    }
                    img{
                        width: 16px;
                        height: 16px;
                        vertical-align: middle;
                    }
                    span{
                        font-size: 11px;
                        line-height: 16px;
                        color:#fff;
                    }
                }
            }
            .close-wrapper{
                padding-top: 20px;
                height: 40px;
                text-align: center;
                span{
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    border-radius: 50%;
                    font-size: 14px;
                    color:#fff;
                    display: inline-block;
                    background-color: rgba(118,118,118,.7);
                    border:1px solid rgba(140,140,140,.9);
                }
            }
        }
    }
}
/*
Vue過度效果
<transition name="detail"></transition>

進入
.detail-enter           過度開始時的狀態
.detail-enter-to        過度結束的狀態
.detail-enter-active    過度的時間、延遲、曲線函數

離開
.detail-leave           過度開始時的狀態
.detail-leave-to        過度結束的狀態
.detail-leave-active    過度的時間、延遲、曲線函數
*/
.detail-enter-active,
.detail-leave-active {
    transition: 2s all;
}
.detail-enter,
.detail-leave-to{
    opacity: 0;
}
.detail-enter-to,
.detail-leave {
    opacity: 1;
}